<ion-header>
  <ion-navbar color="primary">

    <ion-title>Mis productos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding class="master">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Refrescar"
      refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let product of productList">
    <div *ngIf="product.uid === this.auth.getUserUid()">
      <ion-item>
        <div *ngFor="let profile of userList$ | async">
          <div *ngIf="product.uid === profile.uid">
            <ion-row>
              <ion-avatar item-start>
                <img src="{{profile.image}}">
              </ion-avatar>
              <h2 padding-top="15px">{{profile.name}}</h2>
            </ion-row>
          </div>
        </div>
      </ion-item>

      <img  [src]="product.image"/>

      <ion-card-content>
        <ion-card-title>
          {{product.name}}
        </ion-card-title>
        <p>
          {{product.description}}
        </p>
        <br>
        <a item item-icon-left assertive style="font-size: medium">
          <ion-icon name="ios-pricetags-outline"></ion-icon>
          {{product.price}}€
        </a>

        <button ion-button round block clear color="secondary" (click)="chat({product: product})">Chat</button>
        <button ion-button round block clear color="primary" (click)="editProduct({product: product})">Editar</button>
        <button ion-button round block clear color="danger" (click)="removeProduct(product)">Borrar</button>

      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
