<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mis productos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="master">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Refrescar"
      refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let product of productList">
    <div *ngIf="product.uid === this.auth.getUserUid()">
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/icon/favicon.ico">
        </ion-avatar>
        <h2>Nombre usuario</h2>
      </ion-item>

      <img  [src]="product.image"/>

      <ion-card-content>
        <ion-card-title>
          {{product.name}}
        </ion-card-title>
        <p>
          {{product.description}}
        </p>
        <br>
        <a item item-icon-left assertive>
          <ion-icon name="ios-pricetags-outline"></ion-icon>
          {{product.price}}€
        </a>

        <button ion-button round block clear color="primary" (click)="editProduct({product: product})">Editar</button>
        <button ion-button round block clear color="danger" (click)="removeProduct(product)">Borrar</button>
        <button ion-button round block clear color="primary" (click)="chat({product: product})">Chat</button>

      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
